@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500&display=swap");

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

.new-member-section{
  
    display: flex;
    position: fixed;
    top: 12rem;
    left: 15%;
    .new-member-container{

        min-height: 20rem;
        height: auto;
        min-width: 15rem;
        max-width: 17rem;
        width: auto;
        background-color: white;
        padding: 1em;
        box-shadow: 0px 1px 1px 1px #DCDCDC;
        .div1{
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            h1{
                font-size: 1em;
            }
            .header-icon{
                color: gray;
            }
            .header-icon:hover{
                cursor: pointer;
                color: black;
            }
            
        }
        .add-new-team-members{
            margin-top: 2em;
            
        }
        .add-new-team-member{
            margin-top: 1em;
            overflow: auto;
            border: 1px solid #DCDCDC;
            font-size: 0.9em;
            padding: 0.5em;
            height: 70px;
            width: 90%;
            p{
                color: #707070;

            }
            p:hover{
                cursor: pointer;
            }
            
        }
        .input-submit{
            margin-top: 5rem;
            margin-left: 1em;
            float: left;
            border-radius: 5px;
            color: white;
            background-color: #32de84;
            opacity: 0.8;
            padding: 0.5em 1em 0.5em 1em;
            border: 0;
        }
        .input-submit:active{
            background-color: white;
            color: #32de84;
        }
    }
}
@media only screen and(min-width:"450px"){
    .new-member-section{
        left:25%;
        .new-member-container{
            .input-submit:hover{
                cursor: pointer;
                background-color: white;
                color: #32de84;
            }
        }
    }
    
}
@media only screen and (min-width:"550px"){
    .new-member-section{
        left: 35%;
        top: 5rem;
    }
}
@media only screen and (min-width:"1100px"){
    .new-member-section{
        left: 45%;
    }
}