@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500&display=swap");

$background-upper:#6699CC;
$background-lower: 	#F0F8FF;
$sidebar-text-color:#707070;
*{
    margin: 0;
    padding: 0;
    ul{
        list-style: none;
    }
    
}

.ticket-page-container{
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    height: auto;
    
    height: 200vh;
    background:linear-gradient(
        to bottom,
        $background-upper 0%,
        $background-upper 35%,
        $background-lower 35%,
        $background-lower 120%
    );
    
    
    .sidebar-section{
    
        display: flex;
        
        justify-content: center;
        box-shadow: 0px 0px 0px 0.5px #888888;
        width: 100%;
        background-color: white;
        height: 100%;
        .sidebar-container{
           .sidebar-logo{
            .logo-ul{
                color:$background-upper;
                li{
                    display: inline-block;
                }
                .bug-icon{
                    margin-top: 2em;
                    margin-left: 2em;
                    margin-right: 0.7em;
                }
            }
           }
        .sidebar-ul{
            ul{
                margin-left: 30%;
                li{ 
                font-size: 1em;
                margin-top: 3em;
                display: inline-block;
               
                color:$sidebar-text-color;
                p{
                   margin-left: 1em;
                   font-size: 0.9em;
                }
                }
                li:active{
                    color: black;
                }
                
                .sidebar1-li{
                    
                    .icon{
                        color: $sidebar-text-color;
                    }
                   

                }
                .sidebar2-li{
                    .icon{
                        color: $background-upper;
                    }
                    
                }
                .sidebar3-li{
                    .icon{
                        color: #9e1b32;
                    }
                    
                }
            }
            
            
         }
        button{
            background-color: #C41E3A;
            border: 0;
            border-radius: 5px;
            color: white;
            padding:  0.5em 1.2em 0.5em 1.2em;
            margin-top: 4em;
            margin-left: 40%;
        }
        button:active{
            background-color: white;
            color: #C41E3A;
        }
        }
        
    }
    .upper{
        .header-container{
            
            
            display: flex;
            align-items: flex-start;

            
            h1{
                margin-top: 2em;
                color: white;
                text-shadow: 0px 1px 1px black;
            }
            .icon{
                color: white;
                margin-left: 1em;
                font-size: 1.3em;
                margin-top: 2.7em;
                margin-right: 1em;
            }
            .icon:active{
                
                color: black;
            }
        }
        .tickets{
            display: flex;
            flex-direction: column;
            margin-top: 10rem;
            display: flex;
            
            min-width: 90%;
            width: auto;
            margin-left: 5%;
            margin-right: 5%;
            background-color: white;
            box-shadow: 0px 1px 1px 1px #DCDCDC;
           
            min-height: 10rem;
            height: auto;
            .div1{
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                padding: 1em;
                padding-bottom: 0em;
                display: flex;
                
                max-height: 2em;
                h1{
                    font-size: 1em;
                    padding-bottom: 1em;
                }
                border-bottom: 1px solid #DCDCDC;
                .search-input{
                    
                    border-radius: 5px;
                    border: 1px solid #DCDCDC;
                    color: black;
                    padding-left: 1em;
                    font-size: 0.9em;
                    width: 30%;

                }
                .search-input::placeholder{
                    color: gray;
                }
                .search-input:focus{
                    outline: none;
                }
            }
            .div2
            {    
            
                display: flex;
             
                align-items: flex-start;
                justify-content: space-between;
                padding-left: 1em;
                padding-right: 1em;
                border-bottom: 1px solid #DCDCDC;
                padding-bottom: 0.5em;
                padding-top: 0.5em;
                
                background-color: #F5F5F5;
                p{
                    font-size: 0.8em;
                    color: #707070;
                }
                .last-paragraph{
                    margin-right: 2em;
                }
            }
            .div3{
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                padding-left: 1em;
                padding-right: 1em;
                padding-bottom: 1em;
                padding-top: 1em;
                border-bottom: 1px solid #DCDCDC;
                p{
                    font-size: 0.8em;
                    color: #707070;
                    
                }
                .first-paragraph{
                    color: #6699CC;
                    width: 5rem;
                    cursor: pointer;
                    
                }
                .middle-paragraph{
                    width: 5rem;
                }
                .first-paragraph:active{
                    color: black;
                }
                .author-container{
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    .icon{
                        color: #707070;
                        margin-left: 1em;
                        transform: rotate(90deg);
                        font-size: 0.8em;
                        margin-top: 0.2em;
                    }
                    .icon:active{
                        color: black;
                    }
                }
                
            }
            
            .div4{
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                padding-top: 1em;
                padding-bottom: 1em;
                .div4-arrow-left{
                    font-size: 0.5em;
                    padding: 0.8em;
                    border: 1px solid #D3D3D3;
                    border-radius: 100%;
                    color: black;
                    margin-left: 1em;
                }
                .div4-arrow-left:active{
                    cursor: pointer;
                    color: #8594e4;
                    background-color: white;
                }
                .div4-arrow-right{
                    font-size: 0.5em;
                    padding: 0.8em;
                    border: 1px solid #D3D3D3;
                    border-radius: 100%;
                    color: black;
                    margin-right: 1em;
                }
                .div4-arrow-right:active{
                    cursor: pointer;
                    color: #8594e4;
                    background-color: white;
                }
                .arrow-enable{
                    pointer-events: all;
                    color: black;
                }
                .arrow-disable{
                    pointer-events: none;
                    color: #707070;
                }
                
            }
        }
    }
}
@media only screen and (min-width:"480px"){
    .ticket-page-container{
        .sidebar-section{

            padding-right: 1em;
            
            .sidebar-ul{
               
                ul{
                    li:hover{
                        color: black;

                        cursor: pointer;
                    }
                
                }
                
            }
           
            button:hover{
                cursor: pointer;
                color: #9e1b32;
                background-color: white;

            }
        }
        .upper{
            
            .header-container{
                .icon:hover{
                    cursor: pointer;
                }
            }
            .tickets{
                .div3{
                    .first-paragraph{
                        width: 9rem;
                    }
                    .middle-paragraph{
                        width: 9rem;
                    }
                    .icon:hover{
                        cursor: pointer;
                        color: black;
                    }
                    
                }
                .div3:hover{
                    background-color: #7CB9E8;
                    p{
                        color: white;
                    }
                    .icon{
                        color: white;
                    }
                }
            }
        }
    }
}
@media only screen and (min-width:"1100px"){
    .ticket-page-container{
  
        display: flex;
        flex-direction: row;
        height: auto;
        
        .sidebar-section{
            min-height: 100vh;
            height: auto;
            width: 15rem;
            .sidebar-container{
                .sidebar-ul{
                    ul{
                        margin-left: 2em;
                    }
                }
                button{
                        margin-left: 5em;
                }
            }
        }
        .upper{
            width: 80%;
            .header-container{
                margin-left:2em;
            }
            .tickets{
                .div4{
                    .div4-arrow-left:hover{
                        cursor:pointer;
                    }
                    .div4-arrow-right:hover{
                        cursor: pointer;
                    }
                }
            }
           
            
        }
      
    }
}